
.container{
  width: 100%;
  display: flex;
  text-align: center;
  background: darkslateblue;
}

.description{
  display: block;
  padding: 20px 0;
  font-size: 25px;
  margin-bottom: 50px;
}

.back{
font-size: 25px;
}

.coll1{
  width: 15%;
  color: white;

}

.col2{
  width: 80%;
  padding: 50px;
  background: white;
  box-shadow: 0 0 10px black;

}

.coll1:hover{
  background: black;
  opacity: 50%;
  color: gray;
  font-size: 40px;
  text-align: center;
}

.steps{
  font-size: 20px;
  margin: 100px;
}

.ingre{
padding: 100px;
}
