<div class="container">
  <div class="coll1" routerLink="/">↺</div>
  <div *ngIf="service.recipeOneInfo" class="recipeOne">
    <div class="col2">
      <h2>{{ service.recipeOneInfo.title }}</h2>
      <img [src]="service.recipeOneInfo.urlImage" alt="photo" width="500">
      <br>
      <i class="description">{{ service.recipeOneInfo.description }}</i>
      <h4>Ингредиенты:</h4>
      <i class="ingre">{{ service.recipeOneInfo.ingredients }}</i>
      <div class="steps"
           *ngFor="let steps of getSteps(); let i = index"
      >
        <p>шаг {{ i + 1 }}</p>
        <p>{{ steps.step }}</p>
        <img [src]="steps.image" alt="step">
      </div>
      <h1>приятного аппетита!</h1>
    </div>
  </div>

</div>
