input.ng-invalid.ng-touched {
  border: 1px solid red;
}

textarea.ng-invalid.ng-touched {
  border: 1px solid red;
}

.invalid-form-text {
  color: red;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.container{
  width: 100%;
  background: darkslateblue;
  padding: 50px;
  text-transform: uppercase;
}

.recipe{
  box-shadow: 0 0 10px black;
  display: inline-block;
  background: white;
  padding: 20px;
  width: 80%;
}

input{
  width: 80%;
  height: 30px;
  margin: 20px;
  border: 2px solid darkslateblue;
  border-radius: 5px;
}

textarea{
  width: 80%;
  height: 100px;
  margin: 20px;
  border: 2px solid darkslateblue;
  border-radius: 5px;
}

button{
  margin-bottom: 20px;
}
