<div class="container">
  <div *ngIf="isFetching" class="loader"></div>
  <div *ngIf="!isFetching">
    <h1>new recipe</h1>
    <div class="recipe">
      <form (ngSubmit)="sendRecipe()" [formGroup]="formGroupRecipe">

        <input type="text"
               formControlName="title"
               placeholder="title"
        />
        <small
          *ngIf="fieldError('title', 'required')"
          class="invalid-form-text"
        >
          введите название!</small>
        <br>

        <input type="text"
               formControlName="urlImage"
               placeholder="photo"
        />
        <small
          *ngIf="fieldError('urlImage', 'required')"
          class="invalid-form-text"
        >
          введите url фото!</small>
        <br>

        <textarea
          cols="20"
          rows="10"
          formControlName="description"
          placeholder="description"
        >
        </textarea>
        <small
          *ngIf="fieldError('description', 'required')"
          class="invalid-form-text"
        >
          введите описание!</small>
        <br>
        <textarea
          id="ingredients"
          cols="20"
          rows="10"
          formControlName="ingredients"
          placeholder="ingredients"
        ></textarea>
        <small
          *ngIf="fieldError('ingredients', 'required')"
          class="invalid-form-text"
        >
          введите ингредиенты!</small>
        <br>
        <div formArrayName="steps">
          <button
            type="button"
            (click)="addStep()"
          >
            Add Step
          </button>

          <div *ngFor="let stepControl of getStep(); let i = index">
            <div [formGroupName]="i">
              <p>step {{ i + 1 }}</p>
              <input
                type="text"
                formControlName="image"
                placeholder="image url"
              />
              <small
                *ngIf="fieldError('image', 'required')"
                class="invalid-form-text"
              >
                введите url!
              </small>
              <br>

              <textarea
                type="text"
                formControlName="step"
                id="step"
                placeholder="step description"
              >
            </textarea>
              <small
                *ngIf="fieldError('step', 'required')"
                class="invalid-form-text"
              >
                введите шаг!
              </small>

            </div>
          </div>
        </div>


        <button
          type="submit"
          class="btn"
          [disabled]="formGroupRecipe.invalid"
        >
          save
        </button>
      </form>
    </div>
  </div>
</div>

