.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.recipe{
  box-shadow: 0 0 10px black;
  display: inline-block;
  background: white;
  width: 50%;
  padding: 20px;
}

.recipe:hover{
  box-shadow: 0 0 10px blue;
}

.new{
  display: inline-block;
  padding: 0 10px;
  margin-bottom: 40px;
  box-shadow: 0 0 5px white;
  color: coral;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.new:hover{
  box-shadow: 0 0 5px blue;
  color: gray;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5px;
  height: 5px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: red;
  animation: spinner .6s linear infinite;
}

.container{
  width: 100%;
  background: darkslateblue;
  padding: 50px;
}
