<div class="container">
  <div class="new" routerLink="/new">✚</div>
  <div *ngIf="isFetch" class="loader"></div>
  <div *ngIf="!isFetch">
    <div
      class="recipe"
      *ngFor="let rec of recipe"
    >
      <h4>{{ rec.title }}</h4>
      <img [src]="rec.urlImage" alt="photo" width="200">
      <p class="description">{{ rec.description }}</p>
      <button [routerLink]="[rec.id]">Перейти к рецепту</button>
      <button
        (click)="remRecipe(rec.id)"
        [disabled]="isFetchRem"
      >
        <span *ngIf="!isFetchRem">❌</span>
        <span *ngIf="isFetchRem" class="spinner"></span>
      </button>
    </div>
  </div>
</div>
